@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Ukraine,<br />
    Lviv,<br />
    Heroiv UPA 77
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:t.bat@abto.com">t.bat@abto.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:t.bat@abto.com">t.bat@abto.com</a>
</address>