@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Online shop</h1>
    <p class="lead">Online shopping is a form of electronic commerce which allows consumers to directly buy goods or services from a seller over the Internet using a web browser. Consumers find a product of interest by visiting the website of the retailer directly or by searching among alternative vendors using a shopping search engine, which displays the same product's availability and pricing at different e-retailers. As of 2016, customers can shop online using a range of different computers and devices, including desktop computers, laptops, tablet computers and smartphones..</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Product selection</h2>
        <p>Consumers find a product of interest by visiting the website of the retailer directly or by searching among alternative vendors using a shopping search engine. Once a particular product has been found on the website of the seller, most online retailers use shopping cart software to allow the consumer to accumulate multiple items and to adjust quantities, like filling a physical shopping cart or basket in a conventional store. </p>
    </div>
    <div class="col-md-4">
        <h2>Product delivery</h2>
        <ul>
            <li>Shipping: The product is shipped to a customer-designated address. Retail package delivery is typically done by the public postal system or a retail courier such as FedEx, UPS, DHL, or TNT.</li>
            <li>In-store pick-up: The customer selects a local store using a locator software and picks up the delivered product at the selected location. This is the method often used in the bricks and clicks business model.</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Payment</h2>
        <ul>
            <li>Debit card</li>
            <li>Gift cards</li>
            <li>Postal money order</li>
            <li>Cash on delivery (C.O.D.)</li>
        </ul>
    </div>
</div>