
@{
    ViewBag.Title = "MyProfile";
}

<h2>MyProfile</h2>

<table>
    <tr>
        <td><p class = "col-md-2 control-label">Name: </p></td>
        <td><p>@ViewBag.Name</p></td>
    </tr>
    <tr>
        <td><p class = "col-md-2 control-label">Surname: </p></td>
        <td><p>@ViewBag.Surname</p></td>
    </tr>
    <tr>
        <td><p class = "col-md-2 control-label">Email: </p></td>
        <td><p>@ViewBag.Email</p></td>
    </tr>

</table>





