
@{
    ViewBag.Title = "Goods";
}

<script src="~/Scripts/typings/MyGoods.js"></script>


<script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
<link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />

<link href="~/Content/all.css" rel="stylesheet" />


<h2>Goods</h2>
<table id="GoodsTable">
    <thead>
        <tr>
            <th hidden="hidden"></th>
            <th hidden="hidden"></th>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Amount</th>
            <th>Actions</th>
        </tr>
    </thead>
</table>
